<main>

  <h3>Sapienza Sport Self-Certification</h3>

  <div *ngIf="hasData$ | async; else wizard" class="main-form">

    <section>
      <mat-form-field appearance="fill">
        <mat-label>Date</mat-label>
        <input matInput [matDatepicker]="picker" [formControl]="date">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
    </section>

    <section>
      <mat-button-toggle-group [formControl]="time" aria-label="Time of the Day">
        <mat-button-toggle value="morning">Morning</mat-button-toggle>
        <mat-button-toggle value="afternoon">Afternoon</mat-button-toggle>
      </mat-button-toggle-group>
    </section>

    <button class="submit-button" mat-raised-button color="primary" (click)="submitCertificationData()">Generate
      Certification</button>


  </div>


  <ng-template #wizard>
    <app-wizard></app-wizard>
  </ng-template>


</main>

<button mat-button (click)="resetData()">Reset</button>